{% extends 'base.html' %}

{% block content %}

<h1>Jogos pra comprar</h1>
<p> Aqui ficará a lista de jogos eu não tenho dinheiro pra comprar ainda.</p>

<div class="card">
    <ul>
        {% for jogo in lista_jogos %}
        <li class="item-jogo">
            <a href="/jogo/{{ jogo.id }}">
                {{jogo.titulo}} 
            </a>
            <details class="dropdown">
                <summary class="pontinhos">⋮</summary>
                <ul class="menu-opcoes">
                    <li>
                        <a href="/mudar_status/{{jogo.id}}/Backlog">
                            Mover para Backlog
                        </a>
                    </li>
                    <li>
                        <a href="/mudar_status/{{jogo.id}}/Zerado">
                            Mover para Zerados
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="/deletar/{{ jogo.id }}">
                            Excluir jogo
                        </a>
                    </li>
                </ul>
            </details>
        </li>
        {% else %}
        <p>Não tem nada bom pra comprar =D</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}